.debug{
  border: 1px solid black;
}

img{
  width: 100%;
}

/* header */

header{
  height: 80px;
}

.searchbar{
  width: 100%;
}

.form-control{
  background-color: #E5E5E5;
}

header ul li{
  list-style: none;
  padding: 0px 10px 0px 10px;
}

.form-control.form-input {
  padding-left: 40px;
}

header ul {
  margin: auto;
}

header ul a {
  color: grey;
}

.fa-solid.fa-bell {
  color: orange;
}

.form .fa-search {
  top: 12px;
  left: 12px;
  color: black;
}

/* sidenav */

#sidebar .btn{
  width: 140px;
  margin-left: 20px;
  border: 0px;
  border-radius: 0px;
}

#sidebar .btn-outline-light{
  --bs-btn-hover-color: #051e34;
  --bs-btn-hover-bg: #f8f9fade;
}

.top-bar{
  margin-top: 20px;
}

.stats{
  padding-left: 12px;
}

.bot-bar{
  margin-bottom: 20px;
}

.top-bar .space{
  padding-left: 12px;
}

#sidebar {
  width: 180px;
  height: 100%;
  background-color: #051E34;
  background-image: url('../img/sidebar-bg.png');
}

/* wrapper */

.wrapper{
  margin-top: 80px;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.rounded-pill{
  background-color: #165BBA;
}

.right .btn-outline-light{
  --bs-btn-hover-color: #0e6dfd;
}

main{
  width: calc(100% - 180px);
  height: 100%;
  overflow-y: auto;
}

.offcanvas.offcanvas-end{
  width: auto;
}

.accordion-button:focus{
  box-shadow: none;
}

/* scusate il ritardo, venerdi visite mediche e sabato ospedale, non è stata una buona settimana, ho gia spiegato a Clelia la situazione */