.debug{
  border: 1px solid black;
}

img{
  width: 100%;
}

header .d-lg-none.d-block{
  width: 80px;
  height: 80px;
}

/* header */

header{
  height: 80px;
}

.searchbar{
  width: 100%;
}

.form-control{
  background-color: #E5E5E5;
}

header ul li{
  list-style: none;
  padding: 0px 10px 0px 10px;
}

.form-control.form-input {
  padding-left: 40px;
}

header ul {
  margin: auto;
}

header ul a {
  color: grey;
}

.dropdown .btn{
  --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
    border: none;
}

.dropdown-toggle::after {
  display: none}

.fa-solid.fa-bell {
  color: orange;
  padding-bottom: 10px;
}

.form .fa-search {
  top: 12px;
  left: 12px;
  color: black;
}

/* sidenav */

#sidebar .btn{
  width: 140px;
  height: 40px;
  margin-left: 20px;
  border: 0px;
  border-radius: 0px;
}

#sidebar .btn-outline-light{
  --bs-btn-hover-color: #051e34;
  --bs-btn-hover-bg: #f8f9fade;
}

.top-bar{
  margin-top: 20px;
}

.stats{
  padding-left: 12px;
}

.bot-bar{
  margin-bottom: 20px;
}

.top-bar .space{
  padding-left: 12px;
}

#sidebar {
  width: 180px;
  height: 100%;
  background-color: #051E34;
  background-image: url('../img/sidebar-bg.png');
}

/* wrapper */

.wrapper{
  margin-top: 80px;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.rounded-pill{
  background-color: #165BBA;
}

.right .btn-outline-light{
  --bs-btn-hover-color: #0e6dfd;
}

main{
  width: calc(100% - 180px);
  height: 100%;
  overflow-y: auto;
}

.col-3.text-center, .font-size{
  font-size: 14px;
}

.rounded-circle.text-bg-danger{
  padding: 10px 9px;
}

.btn-outline-secondary{
  padding: 4px 8px;
}

.offcanvas.offcanvas-end{
  width: auto;
}

.accordion-button:focus{
  box-shadow: none;
}

/* scusate il ritardo, venerdi visite mediche e sabato ospedale, non è stata una buona settimana, ho gia spiegato a Clelia la situazione */

@media screen and (max-width: 992px){

  #sidebar{
    width: 80px;
  }
  main{
    width: calc(100% - 80px)
  }

    header ul li {
      padding: 0px 10px 0px 0px;
    }

    #sidebar .btn {
      width: 40px;
      margin-left: 20px;
      border: 0px;
      border-radius: 0px;
    }

}